*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EE6352;
}
.card{
    display: block;
    width: 100px;
    height: 150px;
    margin: 1rem;
    border: 5px solid #EAF2EF;
    border-radius: 15px;
    background: url("assets/cardBack.png");
}
.cardClick{
    display: block;
    width: 100px;
    height: 150px;
    margin: 1rem;
    border: 5px solid #EAF2EF;
    border-radius: 15px;
    transform: rotate(360deg);
    transition: 1s;
}
.cardFlex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cardGrid{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
}
.gameWon{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.restartButton{
    text-transform: uppercase;
    padding: 2rem;
    margin: 2rem;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: #521945;
}